.container {
  padding: 4% 10%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current_campaigns {
  margin: 80px auto;
}

.create_campaign {
  margin: 10px auto 80px;
}
